{% extends 'front-end/base.html' %}
{% block content %}
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="{% static 'assets/images/favicon/2.png' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'assets/images/favicon/2.png' %}" />
    <meta name="theme-color" content="#e22454" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Voxo" />
    <meta name="msapplication-TileImage" content="{% static 'assets/images/favicon/2.png' %}" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Voxo">
    <meta name="keywords" content="Voxo">
    <meta name="author" content="Voxo">
    <link rel="icon" href="{% static 'assets/images/favicon/2.png' %}" type="image/x-icon" />
    <title>Blog Details</title>

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/bootstrap.css' %}">

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/font-awesome.css' %}">

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/feather-icon.css' %}">

    <!-- animation css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/animate.css' %}">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/slick/slick-theme.css' %}">

    <!-- Theme css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="{% static 'assets/css/demo2.css' %}">

    <style>
        .left-side .popular-post .popular-image .popular-number {
            border-radius: 7px;
            width: 70px;
        }

        .left-side .popular-post .popular-image img {
            width: 80px;
            height: 70px;
            /* -o-object-fit: cover; */
            object-fit: cover;
        }
    </style>

</head>

<body class="theme-color2 light ltr">

    <!-- Breadcrumb section start -->
    <section class="breadcrumb-section section-b-space">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Blog Details</h3>
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Blog Details</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb section end -->

    <!-- Details Blog Section Start -->
    <section class="masonary-blog-section">
        <div class="container">
            <div class="row g-4">
                <div class="col-lg-9 col-md-8 order-md-1 ratio_square">
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="blog-details">
                                <div class="blog-image-box">
                                    <img src="{% static 'assets/images/VR-img/9.jpg' %}" alt="" class="card-img-top">
                                    <div class="blog-title">
                                        <div>
                                            <div class="social-media media-center">
                                                <a href="https://www.facebook.com/" target="new">
                                                    <div class="social-icon-box social-color">
                                                        <i class="fab fa-facebook-f"></i>
                                                    </div>
                                                </a>
                                                <a href="https://twitter.com/" target="new">
                                                    <div class="social-icon-box social-color">
                                                        <i class="fab fa-twitter"></i>
                                                    </div>
                                                </a>
                                                <a href="https://in.pinterest.com/" target="new">
                                                    <div class="social-icon-box social-color">
                                                        <i class="fab fa-pinterest-p"></i>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="blog-detail-contain">
                                    <span class="font-light">August 15 2021</span>
                                    <h1>THE INDIAN CASTE SYSTEM: A COMPREHENSIVE UNDERSTANDING OF ITS ORIGINS,
                                        STRUCTURE, AND IMPACTS</h1>
                                    <br>

                                    <p class="font-light firt-latter">The Indian caste system ages back to ancient
                                        scriptures like the Rig Veda. This rigid system perpetuated social divisions,
                                        limited mobility, and denied equal access to education, healthcare, and
                                        employment for lower castes. Despite constitutional safeguards, caste-based
                                        discrimination persists, challenging the pursuit of social justice. Overcoming
                                        these deeply ingrained issues requires collective action to dismantle barriers
                                        and ensure fair treatment for all individuals, regardless of their caste.</p>
                                    <br>

                                    <h2 class="card-title">1. Origins of the Caste System :</h2>
                                    <p class="font-light">The Indian caste system traces its origins to ancient
                                        scriptures like the Rig Veda. Brahmins, Kshatriyas, Vaishyas, and Shudras were
                                        the initial classification of the caste system. Over time, this system expanded
                                        to include numerous sub-castes known as Jatis, based on occupation, region, and
                                        customs.
                                        The caste system's influence extends to politics, with parties often aligning
                                        strategies to appeal to specific caste groups. Caste-based reservations,
                                        introduced as affirmative action measures, aim to uplift marginalized
                                        communities but remain subject to debates regarding their effectiveness. Efforts
                                        to challenge the caste system and promote equality have been undertaken through
                                        social reform movements, legal reforms, and grassroots initiatives.
                                        However, dismantling deeply ingrained biases and achieving a caste-free society
                                        remains an ongoing struggle, necessitating not only legal reforms but also a
                                        transformation in societal attitudes and behaviours through education,
                                        awareness, and efforts to foster social harmony.

                                    </p> <br>

                                    <h2 class="card-title">2. Structure and Hierarchy:</h2>
                                    <p class="font-light">The Indian caste system is characterized by a rigid
                                        hierarchical structure. Each caste is assigned specific rights,
                                        responsibilities, and social status. At the apex of this pyramid are the
                                        Brahmins, who traditionally held positions of religious and intellectual
                                        authority, guiding the spiritual and intellectual aspects of society. Just below
                                        them are the Kshatriyas, responsible for governance and defense, entrusted with
                                        maintaining law and order. The Vaishyas, engaged in commerce and agriculture,
                                        contribute to the economic activities of the society. Occupying the lowest rung
                                        are the Shudras, performing manual labor and service roles, and supporting the
                                        functioning of other castes.
                                    </p><br>
                                    <p class="font-light">
                                        Outside of this structure are the Dalits, previously known as "untouchables,"
                                        who suffer severe social discrimination and are often assigned menial tasks,
                                        facing exclusion and marginalization. The caste system's strict hierarchy and
                                        divisions have had profound societal impacts in India. It limits social mobility
                                        and opportunities for those born into lower castes, perpetuating social
                                        inequalities.
                                        Discrimination based on caste continues to persist, despite efforts towards
                                        equality. Dalits bear the brunt of this discrimination, facing social exclusion,
                                        limited access to education, healthcare, and economic opportunities.


                                    </p> <br>

                                    <h2 class="card-title">3. Impacts on Society and Individuals :</h2>
                                    <p class="font-light">The significant consequence of the caste system is the
                                        perpetuation of social divisions. The caste system creates a rigid hierarchy
                                        where individuals are born into specific castes that determine their social
                                        status and roles. This system restricts social mobility, making it challenging
                                        for those born into lower castes to rise above their assigned positions.
                                        Opportunities for education, healthcare, and employment often remain unequal,
                                        reinforcing the cycle of social disadvantage and poverty. Despite constitutional
                                        safeguards and efforts to promote equality, discrimination, and oppression based
                                        on caste persist in various forms, leading to significant disparities and
                                        injustices.

                                    </p> <br>
                                    <p class="font-light">The consequences of the caste system extend beyond social
                                        divisions. It also affects the lives of individuals on a personal level. Those
                                        born into lower castes often face barriers when accessing quality education,
                                        healthcare services, and employment opportunities. The unequal distribution of
                                        resources and social privileges reinforces the cycle of disadvantage and hampers
                                        the upward mobility of individuals from lower castes.
                                    </p> <br>

                                    <h2 class="card-title">4. Caste and Politics :</h2>
                                    <p class="font-light">Caste has emerged as a significant factor in Indian politics,
                                        influencing electoral strategies and shaping political landscapes. Political
                                        parties often cater to specific caste groups to secure their support and
                                        consolidate vote banks. Caste-based reservations, implemented as affirmative
                                        action measures, aim to uplift marginalized communities and provide them with
                                        opportunities for education, employment, and representation.
                                    </p>
                                    <p class="font-light">
                                        However, debates persist regarding their effectiveness and potential drawbacks,
                                        such as perpetuating divisions and impeding merit-based opportunities. The issue
                                        of caste has become intricately intertwined with politics, with caste-based
                                        identity politics shaping electoral outcomes and influencing social dynamics in
                                        complex ways.
                                        Caste-based politics in India has both positive and negative implications. It
                                        gives a voice to historically marginalized groups and helps address their
                                        socio-economic concerns. The impact of caste-based politics extends beyond
                                        electoral outcomes, as it shapes policies, resource allocation, and social
                                        dynamics, often leading to complex and intricate power dynamics within society.
                                    </p><br>

                                    <h2 class="card-title">5. Challenges and Movements for Change :</h2>
                                    <br>
                                    <p class="font-light">
                                        Efforts to challenge the inequalities of the caste system have gained momentum
                                        in recent decades. Leaders like Mahatma Gandhi and Dr. B.R. Ambedkar spearheaded
                                        social reform movements, advocating for the rights of Dalits and lower castes.

                                        However, eradicating deep-rooted biases and dismantling the caste system remains
                                        an ongoing struggle, requiring societal transformation and a commitment to
                                        equality. Despite concerted efforts, the caste system's impact persists.
                                        Discrimination and inequality continue to hinder social mobility and limit
                                        opportunities for lower castes.
                                    </p><br>
                                    <p class="font-light">
                                        Constitutional safeguards and legal provisions alone are insufficient in
                                        addressing the complex challenges posed by the caste system. Promoting
                                        awareness, education, and inclusivity is vital to challenging societal attitudes
                                        and dismantling the caste system's influence. Only through collective dedication
                                        to equality and social justice can the caste system's grip on Indian society be
                                        broken.


                                    </p><br>

                                    <h2 class="card-title">6. Moving Towards Social Equality :</h2>
                                    <p class="font-light">Achieving social equality and justice necessitates more than
                                        just legal reforms; it demands a fundamental shift in societal attitudes and
                                        behaviors. Education and awareness serve as crucial catalysts in challenging
                                        caste-based prejudices and promoting inclusivity. By imparting knowledge about
                                        the history, effects, and consequences of the caste system, education helps
                                        individuals critically analyze and question existing social hierarchies. It
                                        equips them with the tools to challenge discriminatory practices and foster
                                        empathy towards marginalized communities.
                                    </p>
                                    <p class="font-light">
                                        Additionally, raising awareness about the principles of equality and dignity
                                        helps in breaking down the deeply ingrained biases perpetuated by the caste
                                        system. Grassroots organizations, NGOs, and committed individuals play an
                                        essential role in the ongoing struggle for social equality. These organizations
                                        and individuals also promote inter-caste marriages as a means of breaking down
                                        barriers and challenging caste-based segregation.
                                    </p>
                                    <p class="font-light">
                                        By fostering social harmony and encouraging dialogue between different caste
                                        groups, they contribute to the gradual dismantling of the caste system's
                                        divisive influence. Their efforts create spaces for interaction, empathy, and
                                        cooperation, fostering a society where caste-based discrimination becomes
                                        increasingly obsolete.
                                    </p>
                                    <br>

                                    <h2 class="card-title">7. Conclusion :</h2>
                                    <p class="font-light">The Indian caste system has deeply influenced the fabric of
                                        Indian society, leaving a lasting impact on social structures, relationships,
                                        and opportunities. Despite efforts to address caste-based discrimination,
                                        substantial challenges remain. It is crucial to acknowledge and confront the
                                        inherent inequalities embedded within the system. To move closer to such a
                                        society, fostering open dialogue becomes imperative. Meaningful conversations
                                        about caste-based prejudices, biases, and their consequences can help raise
                                        awareness and promote understanding. It is through empathy and active listening
                                        that individuals can bridge the gaps created by the caste system, fostering a
                                        sense of unity and shared humanity. </p>

                                </div>
                            </div>

                            <div class="blog-profile box-center mb-lg-5 mb-4">
                                <div class="image-profile">
                                    <img src="{% static 'assets/images/inner-page/review-image/2.jpg' %}"
                                        class="img-fluid blur-up lazyload" alt="">
                                </div>

                                <div class="image-name text-weight">
                                    <h3>Vishwaratna</h3>
                                    <h6>22 September 2023</h6>
                                </div>
                            </div>

                            <div class="row g-2">
                                <div class="col-12">
                                    <div class="minus-spacing mb-2">
                                        <h3>Leave Comments</h3>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <label for="fname" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="fname" placeholder="Enter First Name"
                                        required>
                                </div>
                                <div class="col-lg-4">
                                    <label for="lname" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="lname" placeholder="Enter Last Name"
                                        required>
                                </div>

                                <div class="col-lg-4">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="email"
                                        placeholder="example@example.com" required>
                                </div>

                                <div class="col-12">
                                    <label for="textarea" class="form-label">Comments</label>
                                    <textarea rows="3" class="form-control" id="textarea"
                                        placeholder="Leave a comment here" required></textarea>
                                </div>

                                <div class="col-12">
                                    <button type="submit" class="btn btn-solid-default btn-spacing mt-2">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="left-side">
                        <!-- Search Bar Start -->
                        <div class="search-section">
                            <div class="input-group search-bar">
                                <input type="search" class="form-control search-input" placeholder="Search">
                                <button class="input-group-text search-button" id="basic-addon3">
                                    <i class="fas fa-search text-color"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Search Bar End -->

                        <!-- Popular Post Start -->
                        <div class="popular-post mt-4">
                            <div class="popular-title">
                                <h3>Popular Blogs</h3>
                            </div>

                            <a href="/blog_details/" class="blog-img">
                                <div class="popular-image  mt-3">
                                    <div class="popular-number">
                                        <!-- <h4 class="theme-color">01 -->
                                            <img src="{% static 'assets/images/VR-img/DalaiLama.jpg' %}" alt="" class="card-img-top">
                                        <!-- </h4> -->
                                    </div>
                                    <div class="popular-contain">
                                        <h3>14th Dalai Lama</h3>
                                        <p class="font-light mb-1"><span>29  </span> Sept <span>2023</span></p>
                                        <div class="review-box">
                                            <span class="font-light clock-time"><i data-feather="clock"></i>15m
                                                ago</span>
                                            <span class="font-light eye-icon"><i data-feather="eye"></i>8641</span>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="/blogdetails1/" class="blog-img">
                                <div class="popular-image  mt-3">
                                    <div class="popular-number">
                                        <!-- <h4 class="theme-color">02</h4> -->
                                        <img src="{% static 'assets/images/VR-img/Bhagatsingh.jpg' %}" alt="" class="card-img-top">
                                    </div>
                                    <div class="popular-contain">
                                        <h3>Bhagat Singh</h3>
                                        <p class="font-light mb-1"><span>29  </span> Sept <span>2023</span></p>
                                        <div class="review-box">
                                            <span class="font-light clock-time"><i data-feather="clock"></i>15m
                                                ago</span>
                                            <span class="font-light eye-icon"><i data-feather="eye"></i>8641</span>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="/blogdetails2/" class="blog-img">
                                <div class="popular-image  mt-3">
                                    <div class="popular-number">
                                        <!-- <h4 class="theme-color">03</h4> -->
                                        <img src=" {% static 'assets/images/VR-img/DrBabaSaheb.jpg' %}" alt="" class="card-img-top">
                                    
                                    </div>
                                    <div class="popular-contain">
                                        <h3>Dr. Bhim Rao Ambedkar</h3>
                                        <p class="font-light mb-1"><span>29  </span> Sept <span>2023</span></p>
                                        <div class="review-box">
                                            <span class="font-light clock-time"><i data-feather="clock"></i>15m
                                                ago</span>
                                            <span class="font-light eye-icon"><i data-feather="eye"></i>8641</span>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="/blogdetails3/" class="blog-img">
                                <div class="popular-image mt-3">
                                    <div class="popular-number">
                                        <!-- <h4 class="theme-color">04</h4> -->
                                        <img src="{% static 'assets/images/VR-img/JyotiraoPhule.jpg' %}" alt="" class="card-img-top">
                                        
                                    </div>
                                    <div class="popular-contain">
                                        <h3>Mahatma Jyotiba Phule</h3>
                                        <p class="font-light mb-1"><span>29  </span> Sept <span>2023</span></p>
                                        <div class="review-box">
                                            <span class="font-light clock-time"><i data-feather="clock"></i>15m
                                                ago</span>
                                            <span class="font-light eye-icon"><i data-feather="eye"></i>8641</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!-- Popular Post End -->

                        <!-- Category section Start -->
                        <div class="category-section popular-post mt-4">
                            <div class="popular-title">
                                <h3>Category</h3>
                            </div>
                            <ul>
                                <li class="category-box">
                                    <a href="blog-left-sidebar.html">
                                        <div class="category-product">
                                            <div class="cate-shape">
                                                <i class="fas fa-globe text-color"></i>
                                            </div>

                                            <div class="cate-contain">
                                                <h5 class="text-color">Global</h5>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="category-box">
                                    <a href="blog-left-sidebar.html">
                                        <div class="category-product">
                                            <div class="cate-shape">
                                                <i class="fas fa-building text-color"></i>
                                            </div>

                                            <div class="cate-contain">
                                                <h5 class="text-color">Business</h5>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="category-box">
                                    <a href="blog-left-sidebar.html">
                                        <div class="category-product">
                                            <div class="cate-shape">
                                                <i class="fas fa-play text-color"></i>
                                            </div>

                                            <div class="cate-contain">
                                                <h5 class="text-color">Entertainmant</h5>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="category-box">
                                    <a href="blog-left-sidebar.html">
                                        <div class="category-product">
                                            <div class="cate-shape">
                                                <i class="fas fa-tshirt text-color"></i>
                                            </div>

                                            <div class="cate-contain">
                                                <h5 class="text-color">Sports</h5>
                                            </div>
                                        </div>
                                    </a>
                                </li>

                                <li class="category-box">
                                    <a href="blog-left-sidebar.html">
                                        <div class="category-product">
                                            <div class="cate-shape">
                                                <i class="fas fa-dumbbell text-color"></i>
                                            </div>

                                            <div class="cate-contain">
                                                <h5 class="text-color">Health</h5>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- Category section End -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Details Blog Section End -->

    <!-- related blog start -->
    <section class="section-b-space block-shadow-space ratio3_2">
        <div class="container">
            <div class="slide-4 product-wrapper slick-lg-space">
                <div>
                    <div class="card blog-categority">
                        <a href="blog-details.html" class="blog-img">
                            <img src="{% static 'assets/images/inner-page/product/9.jpg' %}" alt=""
                                class="card-img-top blur-up lazyload bg-img">
                        </a>
                        <div class="card-body">
                            <a href="blog-details.html">
                                <h2 class="card-title">How to make the perfect morning coffee, according to the
                                    science
                                </h2>
                            </a>
                            <div class="blog-profile">
                                <div class="image-name">
                                    <h3>John wike</h3>
                                    <h6>15 Aug 2021</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card blog-categority">
                        <a href="blog-details.html" class="blog-img">
                            <img src="{% static 'assets/images/inner-page/product/8.jpg' %}" alt=""
                                class="card-img-top blur-up lazyload bg-img">
                        </a>
                        <div class="card-body">
                            <a href="blog-details.html">
                                <h2 class="card-title">How to make the perfect morning coffee, according to the
                                    science
                                </h2>
                            </a>
                            <div class="blog-profile">
                                <div class="image-name">
                                    <h3>John wike</h3>
                                    <h6>15 Aug 2021</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card blog-categority">
                        <a href="blog-details.html" class="blog-img">
                            <img src="{% static 'assets/images/inner-page/product/4.jpg' %}" alt=""
                                class="card-img-top blur-up lazyload bg-img">
                        </a>
                        <div class="card-body">
                            <a href="blog-details.html">
                                <h2 class="card-title">How to make the perfect morning coffee, according to the
                                    science
                                </h2>
                            </a>
                            <div class="blog-profile">
                                <div class="image-name">
                                    <h3>John wike</h3>
                                    <h6>15 Aug 2021</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card blog-categority">
                        <a href="blog-details.html" class="blog-img">
                            <img src="{% static 'assets/images/inner-page/product/16.jpg' %}" alt=""
                                class="card-img-top blur-up lazyload bg-img">
                        </a>
                        <div class="card-body">
                            <a href="blog-details.html">
                                <h2 class="card-title">How to make the perfect morning coffee, according to the
                                    science
                                </h2>
                            </a>
                            <div class="blog-profile">
                                <div class="image-name">
                                    <h3>John wike</h3>
                                    <h6>15 Aug 2021</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="card blog-categority">
                        <a href="blog-details.html" class="blog-img">
                            <img src="{% static 'assets/images/inner-page/product/13.jpg' %}" alt=""
                                class="card-img-top blur-up lazyload bg-img">
                        </a>
                        <div class="card-body">
                            <a href="blog-details.html">
                                <h2 class="card-title">How to make the perfect morning coffee, according to the
                                    science
                                </h2>
                            </a>
                            <div class="blog-profile">
                                <div class="image-name">
                                    <h3>John wike</h3>
                                    <h6>15 Aug 2021</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- related blog end -->


    <!-- tap to top Section Start -->
    <div class="tap-to-top">
        <a href="#home">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <!-- tap to top Section End -->

    <div class="bg-overlay"></div>

    <!-- latest jquery-->
    <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>

    <!-- Add To Home js -->
    <script src="{% static 'assets/js/pwa.js' %}"></script>

    <!-- Bootstrap js -->
    <script src="{% static 'assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>

    <!-- feather icon js -->
    <script src="{% static 'assets/js/feather/feather.min.js' %}"></script>

    <!-- lazyload js -->
    <script src="{% static 'assets/js/lazysizes.min.js' %}"></script>

    <!-- Slick js -->
    <script src="{% static 'assets/js/slick/slick.js' %}"></script>
    <script src="{% static 'assets/js/slick/slick-animation.min.js' %}"></script>
    <script src="{% static 'assets/js/slick/custom_slick.js' %}"></script>

    <!-- notify js -->
    <script src="{% static 'assets/js/bootstrap/bootstrap-notify.min.js' %}"></script>

    <!-- script js -->
    <script src="{% static 'assets/js/theme-setting.js' %}"></script>
    <script src="{% static 'assets/js/script.js"' %}></script>

</body>

</html>

{% endblock content %}