{% extends 'front-end/base.html' %}
{% block content %}


<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="{% static 'assets/images/favicon/2.png' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'assets/images/favicon/2.png' %}" />
    <meta name="theme-color" content="#e22454" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Voxo" />
    <meta name="msapplication-TileImage" content="{% static 'assets/images/favicon/2.pn' %}" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Voxo">
    <meta name="keywords" content="Voxo">
    <meta name="author" content="Voxo">
    <link rel="icon" href="{% static 'assets/images/favicon/2.png' %}" type="image/x-icon" />
    <title>Order Success</title>

    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- bootstrap css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/bootstrap.css' %}">

    <!-- font-awesome css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/font-awesome.css' %}">

    <!-- feather icon css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/feather-icon.css' %}">

    <!-- animation css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/animate.css' %}">

    <!-- slick css -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/slick/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vendors/slick/slick-theme.css' %}">

    <!-- Theme css -->
    <link id="color-link" rel="stylesheet" type="text/css" href="{% static 'assets/css/demo2.css' %}">

</head>

<body class="theme-color2 light ltr">

    <!-- Order Success Section Start -->
    <section class="pt-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="success-icon">
                        <div class="main-container">
                            <div class="check-container">
                                <div class="check-background">
                                    <svg viewBox="0 0 65 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M7 25L27.3077 44L58.5 7" stroke="white" stroke-width="13"
                                            stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                                <div class="check-shadow"></div>
                            </div>
                        </div>

                        <div class="success-contain">
                            <h4>Order Success</h4>
                            <h5 class="font-light">Payment Is Successfully Processsed And Your Order Is On The Way</h5>
                            <!-- {% comment %} <h6 class="font-light">Transaction ID:267676GHERT105467</h6> {% endcomment %} -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Order Success Section End -->

    <!-- Oder Details Section Start -->
    <section class="section-b-space cart-section order-details-table">
        <div class="container">
            <div class="title title1 title-effect mb-1 title-left">
                <h2 class="mb-3">Order Details</h2>
            </div>
            <div class="row g-4">
                <div class="col-md-6">
                    <div class="col-sm-12 table-responsive">
                        <table class="table cart-table table-borderless">
                            <tbody>
                                {% for i in data %}
                                <tr class="table-order">
                                    <td>
                                        <a href="javascript:void(0)">
                                            <img src={{i.product.product_image.url}}
                                                class="img-fluid blur-up lazyload" alt="">
                                        </a>
                                    </td>
                                    <td>
                                        <p>{{i.product.title}}</p>
                                        <h5>Outwear & Coats</h5>
                                    </td>
                                    <td>
                                        {% comment %} <p>Quantity</p>
                                        <h5>{{i.product.quantity}}</h5> {% endcomment %}
                                    </td>
                                    <td>
                                        <p>Price   Quantity</p>
                                        <h5>{{i.product.discount_price}} * {{i.quantity}}</h5>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                            <tfoot>
                                
                                <tr class="table-order">
                                    <td colspan="3">
                                        <h5 class="font-light">Subtotal :</h5>
                                    </td>
                                    <td>
                                        <h4>{{total}}/-</h4>
                                    </td>
                                </tr>

                                <tr class="table-order">
                                    <td colspan="3">
                                        <h5 class="font-light">Shipping :</h5>
                                    </td>
                                    <td>
                                        <h4>50/-</h4>
                                    </td>
                                </tr>

                                <tr class="table-order"> 
                                    <td colspan="3">
                                        <h5 class="font-light">Tax(GST) :</h5>
                                    </td>
                                    <td>
                                        <h4>{{tax}}/-</h4>
                                    </td>
                                </tr>

                                <tr class="table-order">
                                    <td colspan="3">
                                        <h4 class="theme-color fw-bold">Total Price :</h4>
                                    </td>
                                    <td>
                                        <h4 class="theme-color fw-bold">{{grand_total}}/-</h4>
                                    </td>
                                </tr>
                                
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="order-success">
                        <div class="row g-4">
                            
                            <div class="col-sm-6">
                                <h4>summery</h4>
                                <ul class="order-details">
                                    <li>Order ID: {{order_id}}</li>
                                    <li>Order Date: {{ data.first.Order_date }}</li>
                                    <li>Order Total: {{grand_total}}</li>
                                </ul>
                                
                            </div>

                            <div class="col-sm-6">
                                <h4>shipping address</h4>
                                <ul class="order-details">
                                    <li>{{cust.name}}</li>
                                    <li>{{cust.locality}}</li>
                                    <li>{{cust.city}}</li>
                                    <li>{{cust.state}}, {{cust.pincode}}</li><li> Contact No. {{cust.mobile}}</li>
                                </ul>
                            </div>
                            
                            <div class="col-12">
                                <div class="payment-mode">
                                    <h4>payment method</h4>
                                    <p>Pay on Delivery (Cash/Card). Cash on delivery (COD) available. Card/Net banking
                                        acceptance subject to device availability.</p>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="delivery-sec">
                                    <h3>expected date of delivery: <span>october 22, 2018</span></h3>
                                    <a href="order-tracking.html">track order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Order Details Section End -->

    <!-- tap to top Section Start -->
    <div class="tap-to-top">
        <a href="#home">
            <i class="fas fa-chevron-up"></i>
        </a>
    </div>
    <!-- tap to top Section End -->

    <div class="bg-overlay"></div>

    <!-- latest jquery-->
    <script src="{% static 'assets/js/jquery-3.5.1.min.js' %}"></script>

    <!-- Add To Home js -->
    <script src="{% static 'assets/js/pwa.js' %}"></script>

    <!-- Bootstrap js-->
    <script src="{% static 'assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>

    <!-- feather icon js-->
    <script src="{% static 'assets/js/feather/feather.min.js' %}"></script>

    <!-- lazyload js-->
    <script src="{% static 'assets/js/lazysizes.min.js' %}"></script>

    <!-- Slick js-->
    <script src="{% static 'assets/js/slick/slick.js' %}"></script>
    <script src="{% static 'assets/js/slick/slick-animation.min.js' %}"></script>
    <script src="{% static 'assets/js/slick/custom_slick.js' %}"></script>

    <!-- Notify js-->
    <script src="{% static 'assets/js/bootstrap/bootstrap-notify.min.js' %}"></script>

    <!-- script js -->
    <script src="{% static 'assets/js/theme-setting.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
</body>

</html>
{% endblock %}